* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
}

:root {
  --primary-color:  #e43516;
  --body-color: #F0F0F0;
  --text-color: #1b1a1a;
  --secundary-color: #4CAF50;
  --highlight-color: #fade3b;
  --terciary-color: rgb(74, 105, 255);
}

body {
  background: var(--body-color);
  overflow-x: hidden;
}

.container {
  max-height: 100%;
  text-align: center;
  margin: 0 2rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

header section {
  text-align: center;
  align-items: center;
  border-bottom: 1px solid black;
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  align-items: center;
  padding-bottom: 1.3rem;
  gap: 1.5rem;
}

.title-image {
  width: 4.2rem;
  filter: drop-shadow(2px 2px 2px rgba(5, 0, 0, 0.9));
}

.navigation-menu {
  position: relative;
}

.header-links li {
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  color: var(--text-color);
}

.header-links ion-icon {
  font-size: 2rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
}


.header h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.header-burguer {
  cursor: pointer;
  font-size: 1.6rem;
}

.main-1 {
  display: flex;
  flex-direction: row;
}

.main-section-1 {
  margin:auto;
  margin-top: 2rem;
  padding: 1rem;
}

.main-section-1 h1 {
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 3.2rem;
  margin: auto;
  margin-bottom: 1rem;
}

.main-section-1 h1 span {
  color: var(--primary-color);
}

.main-section-1 p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.5rem;
}

.main-section-1 button {
  padding: .8rem;
  border-radius: 10px;
  cursor: pointer;
}

.main-section-1 button:hover {
  background: var(--primary-color);
  transition: .3s;
  box-shadow: 1px 1px 25px 1px red;
  transform: scale(1.1);
}

.cards {
  margin: auto;
  align-items: center;
}

.cards div:hover {
  transform: translate(19px);
  transition: 0.3s;
}

.cards h1{
  color: var(--text-color);
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  margin: 34px 34px;
}

.cards p{
  width: 204px;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 34px;
}

div a .arrow {
  margin: 80px 20px 10px 180px;
}

#card1{
  width: 272px;
  height: 306px;
  flex-shrink: 0;
  border: 2px solid #000;
  background: var(--terciary-color);
  box-shadow: 4px 4px 0px 0px #000;
  margin: 30px 32px 10px 48px;

}

#card2{
  width: 272px;
  height: 306px;
  flex-shrink: 0;
  border: 2px solid #000;
  background: var(--highlight-color);
  box-shadow: 4px 4px 0px 0px #000;
  margin: 10px 48px 10px 32px;

}

#card3{
  width: 272px;
  height: 306px;
  flex-shrink: 0;
  border: 2px solid #000; 
  background: var(--secundary-color);
  box-shadow: 4px 4px 0px 0px #000;
  margin: 10px 32px 10px 48px;
}

#card4{

  width: 272px;
  height: 306px;
  flex-shrink: 0;
  border: 2px solid #000;
  background: var(--primary-color);
  box-shadow: 4px 4px 0px 0px #000;
  margin: 10px 48px 20px 32px;
  padding-bottom: 20px;
  
}

#add{
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 48px 0 0 ;
}

#social-links{
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 32px;
  gap: 8px;
}

footer{
  border: 1px solid;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 2rem;
  gap: 32px;
  padding-top: 10px;
}

.footer-info h1,p,img {
  align-items: center;
  text-align: center;
}

.footer-info img {
  width: 3rem;
}


/*Responsivo*/ 

@media screen and (max-width: 750px) {
  .body-image {
    display: none;
  }
  .header-button {
    display: none;
  }
  #desktop-image2 {
    display: none;
  }
  .complet-title{
    display: none;
  }
  .header-links{
    display: none;
  }

  .header-links {
    padding: 4rem;
    background: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 1px solid --text-color;
    animation: open 1s;
  }
  @keyframes open {
    0% {right: -20rem;}
  }
}

@media screen and (min-width: 700px) {
  #desktop-image {
    display: none;
  }
  .abrevied-title{
    display: none;
  }

}