* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
}

:root {
  --primary-color:  #e43516;
  --body-color: #F0F0F0;
  --text-color: #1b1a1a;
  --secundary-color: #4CAF50;
  --highlight-color: #fade3b;
  --terciary-color: rgb(74, 105, 255);
}

body {
  background: var(--body-color);
  overflow-x: hidden;
}

.container {
  max-height: 100%;
  text-align: center;
  margin: 0 2rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

/* HEADER SECTION */

header section {
  text-align: center;
  align-items: center;
  border-bottom: 1px solid black;
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  align-items: center;
  padding-bottom: 1.3rem;
  gap: 1.5rem;
  background: var(--text-color);
  position: fixed;
  width: 100%;
  z-index: 2;
  margin: auto;
  
}

.title-image {
  width: 4.2rem;
  filter: drop-shadow(2px 2px 2px rgba(5, 0, 0, 0.9));
}

.navigation-menu {
  position: relative;
}

.header-links li {
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  color: var(--text-color);
}

.header-links ion-icon {
  font-size: 2rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  cursor: pointer;
}

.header h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: var(--body-color);
}

.desktop-links {
  display: flex;
  position: fixed;
  background: var(--text-color);
  text-align: center;
  align-items: center;
  width: 100vw;
  z-index: 1;
  padding:6.5rem 0rem 1rem 0rem;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.desktop-links a {
  color: var(--body-color);
  padding: 1rem;
}

.header-burguer {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--body-color);
}

.header-button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 10px;
}

/*-------------------------ESSA PARTE PODE SER SUBSTITUIDA----------------------*/

/*Body Section*/


.main-1 {
  display: flex;
  flex-direction: row;
  padding-top: 7rem;
}

.main-section-1 {
  margin: auto;
  padding: 1rem;
}

.main-section-1 h1 {
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 3.2rem;
  margin: auto;
  margin-bottom: 1rem;
}

.main-section-1 h1 span {
  color: var(--primary-color);
}
.main-section-1 p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.5rem;
}

.main-section-1 button {
  padding: .8rem;
  border-radius: 10px;
  cursor: pointer;
}

.main-section-1 button:hover {
  background: var(--primary-color);
  transition: .3s;
  color: #F0F0F0;
  transform: scale(1.1);
}

.body-image {
  filter: drop-shadow(10px 4px 10px rgba(5, 0, 0, 0.9));
  margin: auto;
}

/* INFORMATION CARDS
*/

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cards div:hover {
  transform: translateX(16px);
  transition: 0.3s;
  z-index: 0;
  }

#card2:hover, #card4:hover {
  transform: translateX(30px)
}

.cards h1{
  color: var(--text-color);
  font-family: 'Roboto',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  margin: 34px 34px;
}

.cards p{
  width: 204px;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 34px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  margin: 2rem;
  gap: 50px;
}


#card1, #card2, #card3, #card4 {
  margin: auto
}

div a .arrow {
  margin: 80px 20px 10px 180px;
}

#card1{
  width: 272px;
  height: 306px;
  flex-shrink: 0;
  border: 2px solid #000;
  background: var(--terciary-color);
  box-shadow: 4px 4px 0px 0px #000;
  margin: 30px 32px 10px 48px;

}

#card2{
  width: 272px;
  height: 306px;
  flex-shrink: 0;
  border: 2px solid #000;
  background: var(--highlight-color);
  box-shadow: 4px 4px 0px 0px #000;
  margin: 10px 48px 10px 32px;

}

#card3{
  width: 272px;
  height: 306px;
  flex-shrink: 0;
  border: 2px solid #000; 
  background: var(--secundary-color);
  box-shadow: 4px 4px 0px 0px #000;
  margin: 10px 32px 10px 48px;
}

#card4{

  width: 272px;
  height: 306px;
  flex-shrink: 0;
  border: 2px solid #000;
  background: var(--primary-color);
  box-shadow: 4px 4px 0px 0px #000;
  margin: 10px 48px 20px 32px;
  padding-bottom: 20px;
  
}

#add{
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 48px 0 0 ;
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem 2rem 2rem;
  font-size: 32px;
  gap: 10px;
  cursor: pointer;
}

/*---------------------FINAL DA PARTE QUE PODE SER SUBSTITUIDA!------------------*/

/*FOOTER */

footer{
  border: 1px solid black;
  border-bottom: none;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 2rem;
}

.footer-info {
  padding: 2rem 0rem 0rem 2rem;
}

.footer-info h1 {
  padding-bottom: .7rem;
}

.footer-info p{
  padding-bottom: 0.6rem;
  font-size: .85rem;
}

.footer-info span {
  color: #e43516;
}

.footer-links {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.footer-links a {
  padding: 0.1rem;
}

.footer-links a:hover {
  color: var(--terciary-color);
  transition: 0.3s;
}

/*Responsivo*/ 

@media screen and (max-width: 750px) {
  .body-image {
    display: none;
  }
  .header-button {
    display: none;
  }
  #desktop-image2 {
    display: none;
  }
  .complet-title{
    display: none;
  }
  .header-links{
    display: none;
  }
  .header-links {
    padding: 4rem;
    background: var(--body-color);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 1px solid --text-color;
    animation: open 1s;
  }
  .desktop-links {
    display: none;
  }
  .cards {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  @keyframes open {
    0% {right: -20rem;}
  }
  #itens li:hover{
    border-bottom: 1px solid black;
    padding-bottom: 0;
    margin-bottom: 0.94rem;
  }
}


@media screen and (min-width: 751px) {
  #desktop-image {
    display: none;
  }
  .abrevied-title{
    display: none;
  }
  .header-burguer, #close, .header-links {
    display: none;
  }
  .main-1 {
    margin-top: calc(+1rem);
  }
  #desktop-image2 {
    margin-left: 10rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    margin: 2rem;
    gap: 50px;
  }


  #card1, #card2, #card3, #card4 {
    margin: auto
  }
  
  #card1:hover, #card2:hover, #card3:hover, #card4:hover {
    transform: scale(1.07);
  }
}

.creditos {
  background: #1b1a1a;
  height: 3rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: .85rem;

}

.creditos a, .creditos p  {
  color: #fff;
}

.creditos a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
