* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
}

:root {
  --primary-color:  #e43516;
  --body-color: #F0F0F0;
  --text-color: #1b1a1a;
  --secundary-color: #4CAF50;
  --highlight-color: #fade3b;
  --terciary-color: rgb(74, 105, 255);
}

body {
  background: var(--body-color);
  overflow-x: hidden;
}

.container {
  max-height: 100%;
  text-align: center;
  margin: 0 2rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-top: 6.4rem;
}

/* HEADER SECTION */

header section {
  text-align: center;
  align-items: center;
  border-bottom: 1px solid black;
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
  align-items: center;
  padding-bottom: 1.3rem;
  gap: 1.5rem;
  background: var(--text-color);
  position: fixed;
  width: 100%;
  z-index: 2;
  margin: auto;
  
}

.title-image {
  width: 4.2rem;
  filter: drop-shadow(2px 2px 2px rgba(5, 0, 0, 0.9));
}

.navigation-menu {
  position: relative;
}

.header-links li {
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  color: var(--text-color);
}

.header-links ion-icon {
  font-size: 2rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  cursor: pointer;
}

.header h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: var(--body-color);
}

.desktop-links {
  display: flex;
  position: fixed;
  background: var(--text-color);
  text-align: center;
  align-items: center;
  width: 100vw;
  z-index: 1;
  padding:6.5rem 0rem 1rem 0rem;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.desktop-links a {
  color: var(--body-color);
  padding: 1rem;
}

.header-burguer {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--body-color);
}

.header-button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 10px;

}

/*--------------------------Title and Paragraf-------------------------------*/

.contact h1 {
padding: 2rem;
font-size: 3rem;
font-family: 'Roboto', sans-serif;
font-weight: 900;
letter-spacing: -2px;
line-height: 3.2rem;

}

.contact h1 span{
  color: var(--primary-color);

}

.contact p{
  border: 2px ;
  border-radius: 10px;
  margin: 4%;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3rem;
  font-size: 1rem;
  font-weight: 400;
  
}

/*----------------------------- Contact Cards----------------------------- */

.contactforms ul{
  list-style: none;
}

.contactforms li{
  border: 2px solid #1b1a1a;
  border-radius: 10px;
  padding: 2rem;
  margin: 4% 16% 6%;
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  align-items: center;

}

.contactforms li ion-icon {
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: -6px;
}

.contactforms #card1{
  background:var(--secundary-color);
  transition: 0.2s;

}

.contactforms #card2{
  background:var(--highlight-color) ;
  transition: 0.2s;
}

.contactforms #card3{
  background: var(--primary-color);
  transition: 0.2s;
}

.contactforms #card4{
  background:var(--terciary-color);
   transition: 0.2s;
}

/*Hover*/

.contactforms #card1:hover{
  background: #4caf4fd0 ;
  transform: scale(1.1);
}

.contactforms #card2:hover{
  background:  #fadd3bc7 ;
  transform: scale(1.1);
}

.contactforms #card3:hover{
  background: #e43516da ;
  transform: scale(1.1);
}

.contactforms #card4:hover{
  background:  rgba(23, 62, 255, 0.842);
  transform: scale(1.1);
}



/*FOOTER */

footer{
  border: 1px solid black;
  border-bottom: none;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 2rem;
}

.footer-info {
  padding: 2rem 0rem 0rem 2rem;
}

.footer-info h1 {
  padding-bottom: .7rem;
}

.footer-info p{
  padding-bottom: 0.6rem;
  font-size: .85rem;
}

.footer-info span {
  color: #e43516;
}

.footer-links {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.footer-links a {
  padding: 0.1rem;
}

.footer-links a:hover {
  color: var(--terciary-color);
  transition: 0.3s;
}

/*Responsivo*/ 

@media screen and (max-width: 750px) {
  .body-image {
    display: none;
  }
  .header-button {
    display: none;
  }
  #desktop-image2 {
    display: none;
  }
  .complet-title{
    display: none;
  }
  .header-links{
    display: none;
  }
  .header-links {
    padding: 4rem;
    background: var(--body-color);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 1px solid --text-color;
    animation: open 1s;
  }
  .desktop-links {
    display: none;
  }

  @keyframes open {
    0% {right: -20rem;}
  }
  #itens li:hover{
    border-bottom: 1px solid black;
    padding-bottom: 0;
    margin-bottom: 0.94rem;
  }
}


@media screen and (min-width: 751px) {
  #desktop-image {
    display: none;
  }
  .abrevied-title{
    display: none;
  }
  .header-burguer, #close, .header-links {
    display: none;
  }
  .main-1 {
    margin-top: calc(+1rem);
  }
  #desktop-image2 {
    margin-left: 10rem;
  }
  .cards {
    display: flex;
    justify-content: center;
  }

  #card1, #card2, #card3, #card4 {
    margin: 1rem;

  }
  #card1:hover, #card2:hover, #card3:hover, #card4:hover {
    transform: scale(1.07);
  }

  .contact h1 {
    padding-top: 5rem;
  }
  .contactforms ul {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .contactforms ul li {
    width: 25%;
    font-size: 1.2rem;
  }
}

.creditos {
  background: #1b1a1a;
  height: 3rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: .85rem;
}

.creditos a, .creditos p  {
  color: #fff;
}

.creditos a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
