* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color);
}

:root {
  --primary-color:  #e43516;
  --body-color: #F0F0F0;
  --text-color: #1b1a1a;
  --secundary-color: #4CAF50;
  --highlight-color: #fade3b;
  --terciary-color: rgb(74, 105, 255);
  --bg-color: #27272721;
  --gradiente:linear-gradient(
    to right,
    rgb(74, 105, 255) 50%,
    rgb(76, 175, 80) ,
    rgb(250, 222, 59),
    rgb(228, 53, 22) 
    
  )
}

body {
  background: var(--body-color);
  overflow-x: hidden;
}

.container {
  max-height: 100%;
  text-align: center;
  margin: 4rem 2rem 2rem 2rem;
  border-radius: 10px;
  background: var(--bg-color);
}

/* HEADER SECTION */

header section {
  text-align: center;
  align-items: center;
  border-bottom: 1px solid black;
  display: block;
}

.header {
  display: flex;
  background: #1b1a1a;
  padding: 1rem 2rem;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.title-image {
  width: 3.5rem;
  filter: drop-shadow(2px 2px 2px rgba(5, 0, 0, 0.9));
}

.navigation-menu {
  position: relative;
}

.header-links li {
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  color: var(--text-color);
}

.header-links ion-icon {
  font-size: 2rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  cursor: pointer;
}

.header h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: var(--body-color);
  font-size: 1.3rem;
}

.desktop-links {
  display: flex;
  background: #1b1a1a;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
}

.desktop-links a {
  color: var(--body-color);
  padding: 1rem;
}

.header-burguer {
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--body-color);
}

.header-button {
  width: 7rem;
  height: 2.5rem;
  border-radius: 10px;
}

/*MAIN*/

main {
  transition: 1s;
}

main div {
  margin: 4% 9% 6%;
  text-align: left;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  transition: 0.5s;
}

main div h1 {
  font-size: 1.4rem;
}

main .h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding-top: 2rem;
}

.p{
  font-family: 'Robotp', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}


.corrida, .interclasses {
  width: 100%;
  background: var(--secundary-color) ;
  border: #1b1a1a 1.5px solid;
  box-shadow: 4px 4px 0px;
}

.festival, .garoto{
  background: var(--terciary-color);
  border: hsl(0, 2%, 10%) 1.5px solid;
  width: 100%;
  box-shadow: 4px 4px 0px;
}

.show, .arraia{
  background: var(--highlight-color);
  border: #1b1a1a 1.5px solid;
  width: 100%;
  box-shadow: 4px 4px 0px;
}

.talentos {
  background: var(--primary-color);
  border: #1b1a1a 1.5px solid;
  width: 100%;
  box-shadow: 4px 4px 0px;
}

.menuAbrir h1 {
  margin-bottom: .5rem;
}

.menuAbrir {
  height: 14rem;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto 2rem;
}

.abrir {
  height: fit-content;
}

#eventspics{
  margin-top: 2rem ;
  width: 100%;
  border:1px solid ;
  border-radius: 10px;
  box-shadow: #1b1a1a;
}
/*hover*/

/*.corrida:hover, .interclasses:hover{
  background: #4caf4fd0 ;
  transform: scale(1.1);
}

.festival:hover, .garoto:hover{
  background: rgba(23, 62, 255, 0.842); ;
  transform: scale(1.1);
}

.talentos:hover{
  background: #e43516da ;
  transform: scale(1.1);
}

.show:hover, .arraia:hover{
  background: #fadd3bc7;
  transform: scale(1.1);
}
*/
/* MENUS */

main .menu  {
  height: 10rem;
  display: none;
}


/*FOOTER */

footer {
  position: relative;
  margin: 0 2rem;
  margin-top: 3rem;
  padding: 0rem 2rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px 10px 0 0 ;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px; /* Altura da borda gradiente */
  border-radius: 10px 10px 0 0; /* Manter a borda arredondada */
  background: var(--gradiente); /* Gradiente desejado */
}

.footer-info {
  padding: 2rem 0rem 0rem 2rem;
}

.footer-info h1 {
  padding-bottom: .7rem;
}

.footer-info p{
  padding-bottom: 0.6rem;
  font-size: .85rem;
}

.footer-info span {
  color: #e43516;
}

.footer-links {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.footer-links a {
  padding: 0.1rem;
}

.footer-links a:hover {
  color: var(--terciary-color);
  transition: 0.3s;
}

/*Responsivo*/ 

@media screen and (max-width: 750px) {
  .body-image {
    display: none;
  }
  .header-button {
    display: none;
  }
  #desktop-image2 {
    display: none;
  }
  .complet-title{
    display: none;
  }
  .header-links{
    display: none;
  }
  .header-links {
    padding: 4rem;
    background: var(--body-color);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    border-left: 1px solid --text-color;
    animation: open 1s;
  }
  .desktop-links {
    display: none;
  }

  .h1 {
    padding-top: 1rem;
  }

  @keyframes open {
    0% {right: -20rem;}
  }
  #itens li:hover{
    border-bottom: 1px solid black;
    padding-bottom: 0;
    margin-bottom: 0.94rem;
  }
}


@media screen and (min-width: 751px) {
  #desktop-image {
    display: none;
  }
  .abrevied-title{
    display: none;
  }
  .header-burguer, #close, .header-links {
    display: none;
  }
  .main-1 {
    margin-top: calc(+1rem);
  }
  #desktop-image2 {
    margin-left: 10rem;
  }
  .cards {
    display: flex;
    justify-content: center;
  }

  #card1, #card2, #card3, #card4 {
    margin: 1rem;

  }
  #card1:hover, #card2:hover, #card3:hover, #card4:hover {
    transform: scale(1.07);
  }
  .arrow {
    display: none;
  }

  .tudo {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    margin: 2rem;
    gap: 50px;
  }

  .container .h1 {
    margin-top: 2rem;
  }
}

.creditos {
  margin: 0 2rem;
  background: var(--text-color);
  height: 3rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: .85rem;
}

.creditos a, .creditos p  {
  color: #fff;
}

.creditos a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
